.transactionList {
  box-sizing: border-box;
  width: 738.33px;
  height: 345.03px;
  color: #000000;

  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.transactionControl {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.pageDisplay {
  width: 37px;
  height: 37px;
  border-radius: 5px;
  background-color: #43967b;
  margin: 0px 10px;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.58px;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
