.card {
  width: 355.41px;
  height: 181px;
  border-radius: 15px;
  background-color: #9b9b9b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Ubuntu;
  font-size: 30px;
  font-weight: 400;
  line-height: 34.47px;
  text-align: left;
}
.amount {
  font-weight: 700;
  line-height: 34.47px;
  text-align: left;
}
button {
  width: 167.65px;
  height: 38px;
  border-radius: 15px;
  border: 0px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.38px;
  color: #ffff;
}
