.transactionTitle,
.transactionSubtitle {
  margin: 0;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
}
.transactionSubtitle {
  color: #9b9b9b;
}
.transactionAction {
  display: flex;
  justify-content: space-around;
  width: 150px;
  align-items: center;
  color: #f4bb4a;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
}
